@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #3c3c3b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  background: linear-gradient(135deg, #22252b, #1e1a21);
  border-radius: 10px;
  width: 350px;
  height: 650px;
}
.container {
  background: linear-gradient(135deg, #22252b, #1e1a21);
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 100px 10px rgb(0, 0, 0);
}

/* Output */
header {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #c69b72;
  justify-content: center;
}
.title {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 1.5rem;
}
.output-container {
  height: 90%;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: center;
  gap: 20px;
  background-color: #1e1a21;
}
.output-container p {
  padding-right: 10px;
  color: #c69b72;
}
.history {
  height: 24px;
}
.input {
  font-size: 2rem;
  height: 40px;
}
/* Buttons */
.buttons {
  padding-top: 10px;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.buttons button {
  width: 75px;
  height: 75px;
  justify-self: center;
  border: none;
  background-color: #1e1a21;
  color: #c69b72;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: 1.1s;
  cursor: pointer;
}
.buttons button:hover {
  transform: scale(1.1);
  transition: 1.1s;
}
.delete,
.clear {
  grid-column: span 2;
  background-color: #1e1a21;
  color: #c69b72;
  margin: 10px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1.1s;
}
.delete:hover,
.clear:hover {
  transform: scale(1.1);
  transition: 1.1s;
}
